*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

# IntelliJ IDEA specific
.idea
*.iml

# Python specific
*.pyc

.DS_Store

# activemq integration test data
activemq-data/
